/* CSS Reutilizavel */ 
@import "./global/cor.css";
@import "./global/utilitarios.css";


@import "./header/cabecalho.css";
@import "./header/introducao.css";

@import "./main/sobre.css";
@import "./main/card.css";