.bg-cabecalho {
    background-color: var(--bg-secondary);
}
.cabecalho {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.menu a {
    color: var(--text-main);
    padding: 10px;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    border-bottom: 2px solid transparent;
}

.menu a:hover {
    color: var(--accent);
}

@media (max-width: 800px) {
    .menu a {
        font-size: 1.1rem;
    }
}