.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-introducao {
    background-color: var(--bg-main);
}

.introducao-imagem img{
    border-radius: 4px;
    object-fit: cover;
    width: 80%;
    max-height: 700px;
    justify-self: center;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.introducao-sobre {
    padding: 40px;
}

.introducao-sobre h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    line-height: 1.1;
    font-size: 3rem;
    max-width: 20ch;
    color: var(--primary);
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.introducao-sobre > p {
    font-family: "Inter", sans-serif;
    max-width: 40ch;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: var(--text-secondary);
}

.introducao-sobre a {
    margin-bottom: 60px;
}

.introducao-lista li{
    display: flex;
    color: var(--text-main);
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    margin-bottom: 20px;
    gap: 10px;
}