/* Reset do CSS */
body, h1, ul, p {
    margin: 0px;
    padding: 0px;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary);
    letter-spacing: 1px;
}

.logo span {
    display: block;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--accent);
    margin-top: -4px;
}

.btn-principal {
    display: inline-block;
    background-color: var(--accent);
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding: 15px 30px;
    border-radius: 7px;
}

.btn-principal:hover {
    background-color: var(--hover-primary);
}