/* Reset do CSS */
body, h1, h2, h3, ul, p {
    margin: 0px;
    padding: 0px;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font: 600 2rem "Playfair Display", serif;
    color: var(--primary);
    letter-spacing: 1px;
}

.logo span {
    display: block;
    font: italic 0.8rem "Inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--accent);
    margin-top: -4px;
}

.btn-principal {
    display: inline-block;
    background-color: var(--accent);
    font: 500 1.25rem "Inter", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    padding: 15px 30px;
    border-radius: 7px;
}

.btn-principal:hover {
    background-color: var(--hover-primary);
}