.bg-produto {
    background-color: var(--bg-secondary);
}

.produto {
    padding-top: 80px;
    padding-bottom: 80px;
}
.produto-titulo {
    text-align: center;
    margin-bottom: 80px;
}

.produto-titulo h2 {
    color: var(--primary);
    font: 600 3rem "Playfair Display", serif;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.produto-titulo p {
    font: 1.3rem "Inter", sans-serif;
    color: var(--text-main);
    width: 45ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}

.produto-titulo a {
    font-size: 1.3rem;
    color: var(--text-main);
    border-bottom: 2px solid var(--border);
    padding-bottom: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.produto-titulo a:hover {
    color: var(--hover-primary);
}

/* -- Card -- */

.produto-card {
    display: flex;
    gap: 60px;
    text-align: center;
    justify-content: center;
}

.card {
    border: 2px solid var(--border);
    border-radius: 8px;
    flex: 1;
    max-width: 250px;
}

.card-imagem img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
}

.card-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 10px;
    padding-right: 10px;
}

.card h3 {
    font: 500 1.4rem "Playfair Display", serif;
    margin-bottom: 8px;
    color: var(--primary);
    grid-column: 1 / -1;
}

.card p {
    color: var(--text-main);
    font: 400 1rem "Inter", sans-serif;
    min-height: 110px;
    text-align: start;
    grid-column: 1 / -1;
    margin-bottom: 16px;
}

.card-conteudo span {
    color: var(--text-main);
    font: 400 1rem "Inter", sans-serif;
    text-align: start;
    grid-column: 1 / 1;
    margin-bottom: 6px;
}

.card-conteudo a {
    grid-column: 2;
    grid-row: 3 / span 2;
    display: grid;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background-color: var(--accent);
    border-radius: 8px;
    font: 500 1rem "Inter", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 6px;
}