.bg-sobre {
    background-color: var(--bg-main);
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-bottom: 80px;
    padding-top: 80px;
}

.sobre-imagem img{
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
}

.sobre-conteudo h2{
    color: var(--accent);
    text-transform: uppercase;
    font: 400 1.2rem "Inter", sans-serif;
    letter-spacing: 1.5px;
    border-bottom: 2px solid var(--border);
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.sobre-conteudo h1 {
    color: var(--primary);
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 30px;
}

.sobre-conteudo p {
    font: 1.2rem/1.5 "Inter", sans-serif;
    color: var(--text-secondary);
    margin-bottom: 16px;
    max-width: 45ch;
}

@media (max-width: 1000px) {
    .sobre {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .sobre-conteudo h1 {
        font-size: 2.3rem;
    }

    .sobre-conteudo h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    .sobre {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sobre-imagem {
        width: 100%;
        max-height: 600px;
    }
}